body{background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3yYATK4sU-a_zVtVHD4nKPdKT0a7m8__lPpnKHHCwSVXjh4OzFQ); margin-left: 50px;}
div{padding-bottom: 30px;}
h2{border: red 10px solid; width: 200px;}
header,h2{text-align: center;}
.first,.second,.third{display: inline;}
